th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: Arial, sans-serif;
}

tr:nth-child(odd) {
    background-color: blue;
}

div {
  background-color: darkcyan;
  text-align: right;
}
h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}



